<ion-header>
  <ion-toolbar color="danger" class="toolbar">
    <ion-title>Perfil de Usuario</ion-title>
    <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="profile-card ion-text-center">
    <ion-card-content>
      <ion-avatar class="profile-avatar">
        <ion-icon name="person-circle" class="profile-icon"></ion-icon>
      </ion-avatar>

      <ion-card-title class="ion-padding-top">David Mogrovejo</ion-card-title>
      <ion-card-subtitle>Dagumomogrovejo@gmail.com</ion-card-subtitle>
      <ion-card-subtitle>0987576162</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="modal()">
    <ion-icon slot="start" name="create-outline"></ion-icon>
    Cambiar información
  </ion-button>

  <ion-button expand="block" color="warning" (click)="modal2()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar Sesión
  </ion-button>

  <ion-button expand="block" color="success" (click)="modal3()">
    <ion-icon slot="start" name="color-palette-outline"></ion-icon>
    Cambiar Tema
  </ion-button>

  <ion-card *ngIf="mensaje" class="ion-margin-top">
    <ion-card-content>
      <p>{{ mensaje }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>